<% provide :title, t(".about") %>
<h1><%= t ".about" %></h1>
<p>
  <%= t(".script", url1: "http://www.railstutorial.org/", url2: "http://www.railstutorial.org/book",
    url3: "http://screencasts.railstutorial.org/", url4: "http://rubyonrails.org/" ).html_safe %>
</p>
