<div class="modal fade" id="form_modal" role="modal" data-backdrop="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"><%= t ".edit" %></h4>
      </div>
      <div class="modal-body">
        <%= render "comments/form", comment: comment, micropost: micropost %>
      </div>
    </div>
  </div>
</div>
