<div>
  <% if current_user.likes? micropost %>
    <%= link_to t(".unlike"), micropost_like_path(micropost), remote: true, method: :delete %>
  <% else %>
    <%= link_to t(".like"), micropost_like_path(micropost), remote: true, method: :post %>
  <% end %>
</div>
