<%= link_to image_tag(current_user.avatar.url, size: "40x40", crop: :fill), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t(".view"), current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>
